body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size: 12px;}
img{border:none;}
ul,li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}


.container{width:640px;height:1200px;background-color:red}
	.header{width:100%;height:88px;background-color:#234249;float:left;}
	/* .left-header{width:33.11%;height:100%;} */	
	.header  ul{}
	.header ul li{width:33%;height:100%;display:block;float:left;line-height:88px;text-align:center;}
	.header ul li .left-header{background-image:url(../../images/it-return.png) no-repeat left center;}
	.header ul li .right-header{background:url(../../images/menu.png);}

	.content{width:100%;height:1007px;background-color:#68cdd5;}
		.return{width:100%;height:5%;}
		.main{width:100%;height:50%;padding-top:20%;}
	


